

<div class="app-container">
  <button class="remote-btn" (click)="toggleServiceCenter()">Remote</button>

  <div *ngIf="showServiceCenter && !showInfoSection" class="service-center-wrapper">
    <app-service-center 
      (showInfo)="onShowInfo($event)" 
      (hideContent)="onHideContent()"
    ></app-service-center>
  </div>

  <div *ngIf="showInfoSection" class="info-layout">
    <app-information></app-information>
    <div class="content-wrapper">
      
      
      <div class="sidebar-with-icon">
        
        <!-- ✅ MAKE THIS A REAL BUTTON -->
        <div class="icon-click-wrapper" (click)="goToServiceCenter()" title="Back to Service Center">
          <img 
            src="https://ic3qaservicedashboardcdn.myicomfort.com/remotein/information/info_information-dealer-icon.svg"
            alt="Dealer Icon"
            class="sidebar-top-icon"
          />
        </div>

        <!-- Sidebar Menu -->
        <app-sidebar 
          [activeMenu]="activeMenu" 
          (menuSelected)="onMenuSelected($event)"
        ></app-sidebar>
      </div>

      <div class="content-area">
        <app-general *ngIf="activeMenu === 'general'"></app-general>
        <app-dealer *ngIf="activeMenu === 'dealer'"></app-dealer>
      </div>
    </div>
  </div>
</div>

