
<div class="service-center">
    <h2 class="service-center-title">Service Center</h2>
    <div class="button-grid">
      <button (click)="hideContent.emit()">
        <mat-icon svgIcon="sd_notifications-servicecont"></mat-icon>
        <span>Notifications</span>
      </button>
      <button (click)="hideContent.emit()">
        <mat-icon svgIcon="sd_equipment-servicecont"></mat-icon>
        <span>Equipment Settings</span>
      </button>
      <button (click)="showInfo.emit(true)">
        <mat-icon svgIcon="sd_information-servicecont"></mat-icon>
        <span>Information</span>
      </button>
      <button (click)="hideContent.emit()">
        <mat-icon svgIcon="sd_tests-servicecont"></mat-icon>
        <span>Tests</span>
      </button>
      <button (click)="hideContent.emit()">
        <mat-icon svgIcon="sd_diagnostics-servicecont"></mat-icon>
        <span>Diagnostics</span>
      </button>
      <button (click)="showInstallationReport.emit(true)">
        <mat-icon svgIcon="sd_instalationrep-servicecont"></mat-icon>
        <span>Installation Report</span>
      </button>
    </div>
  </div>